

// header styles//

.contactPageHeader{
  background-image:url(../images/contact-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;           
}

.contactPageHeader .heroContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 50vh;
  
}

// Main section styles 

.lowerNavSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 2rem 0;  
  flex-wrap: wrap;
  font-size: 1.95rem;
  gap: 2rem;
}

.lowerNavSection nav ul{
  display: flex;  
  gap: 2rem;
}

.lowerNavSection a{
  color: white;
}

p span{
  display: block;
}




