input{
  border: none;
  border-bottom: 2px solid $offWhite;
  color: $offWhite; 
  padding: 10px;
  flex: 1 1 calc(40% - 2rem);
}

textarea{
  border: 2px solid $offWhite;
  resize: none;
  width: 100%;
  min-height: 10rem;
  color: $offWhite;
  padding: 10px;
}

Form{
  width: 80%;
  background-color: $black;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap:2rem;  
  font-size: 1.5rem;
}

.form2 input,
.form2 textarea{
  background-color: $black;
}

.form1 input,
.form1 textarea{
  background-color: $darkRed;
}

.form1{
  width: 50%;
  box-shadow: 10px 10px #ff8327;
  position: absolute;
  right: 4rem;
  background-color: #220303;
  bottom:2rem;
  padding:20px;
  color: $offWhite; 
}