.topNavContainer ul{
  display: flex;
  justify-content: center; 
  height: 100px;
  align-items: flex-end;
}

.topNavContainer ul li{
  padding: 20px 50px; 
} 

.topNavContainer a{
  color: $offWhite;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 29px;
  font-size: 1.9rem;
}

.topNavContainer a:hover,
.topNavContainer a:focus{
  color: $orange;
}

h1{
  font-family: $primaryFont;
  letter-spacing: 2.4px;
  font-size: 13rem;
}

header h2{
  font-family: $secondaryFont;
}


input[type="checkbox"]:checked + ul.hamburgerMenu {
	right: 0;
  padding-top: 100px;
}

.topNavContainer label{
  display: none;
}


label[for="toggle"] {
	/*position the menu so that it doesn't slide off screen when we open it*/
	position: fixed;
	top: 2px;
	right: 20px;
	color: white;
	
}

