
.indexPageHeader{
  background-image: url(../images/home-image-1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;
}


.indexHeroContent{
  height: 100%;
  display:flex ;
  flex-direction: column;
  justify-content: center; 
}

.indexHeroContent h1{
  color: #ff8327;
  font-family: $secondaryFont;
 
}

.indexHeroContent h1 span{
  display: block;
  font-family: $primaryFont;
  color: white;
  font-size: 4.16rem; 
}

.headerBoxImage{
  position:absolute;
  right:0;
  width: 50%;
  top: 340px;
  z-index: -1;
}


                             // main navigation styles //


.mainPageNavigationContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 250px 0;
}

.mainPageNavigationContainer li{
  flex: 1 0 calc(50% - 20px) ;
  display: flex;
  gap:20px;
}


.fas{
  background-color: $red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.mainPageNavigationContent{
  text-align: left;
}

                //      upperGalleryContainer  styles        //


.upperGalleryContainer{
  display: flex;
  background-color: $darkRed;
  flex-wrap: wrap; 
  margin-bottom: 8rem;
  
}     

.upperGalleryContainer h2{
  font-size:3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
}

.upperGalleryContainer li{
  flex: 1 0 33%;
}

.upperGalleryContainer li:nth-child(2){
  text-align: left;
  margin-left: 8rem;
  font-size: 1.95rem;
  padding-top: 4rem;
}

.upperGalleryContainer li:nth-child(3){
  text-align: right;
}

.upperGalleryImage1{
  box-shadow: 20px 20px $orange;
  position: relative;
  bottom: 100px;
  
}

.image2Container{
  box-shadow: -20px 20px $orange;
  display:  inline-block;
  overflow: hidden;
  height: max-content;
  position: relative;
  bottom: -100px;
  margin-left: 8rem;
  
}

.upperGalleryImage2{
  display: block;
  box-shadow: -20px 20px solid $orange;
  max-width: 100%;
}

///// event section styles ////////

.eventSection{
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.eventSection h2,
.eventsSubSection h2{
  color: $orange;  
  font-size: 3.4rem;
}


.eventsSubSection{
  display: flex;
  text-align: left;
  padding: 4rem;
  gap: 4rem;
  flex-wrap: wrap;
}

.eventsSubSection img{
  box-shadow: -20px 20px $orange;
  flex: 1 0 30%;
}

.eventSubSectionContent{
  flex: 1 0 60%;
  display: flex;
  flex-direction: column;
  gap:4rem;
}



//  gallery styles //  

.gallery{
  background-color: $darkRed;
  padding: 4rem;
}

.gallery ul{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap; 
}

.gallery ul li{
  flex-grow: 1;
  flex-basis: calc(33% - 4rem);
}



