body{
  background-color: #111010;
}

.indexPageHeader{
  background-image: url(../images/home-image-1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;
}


.indexHeroContent{
  height: 100%;
  display:flex ;
  flex-direction: column;
  justify-content: center; 
}

.indexHeroContent h1{
  color: #ff8327;
 
}

.indexHeroContent h1 span{
  display: block;
  font-family: $primaryFont;
  color: white;
  font-size: 4rem; 
}

.headerBoxImage{
  position:absolute;
  right:0;
  width: 50%;
  top: 340px;
  z-index: -1;
}


                             // main styles //


.mainPageNavigationContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 250px 0;
}

.mainPageNavigationContainer li{
  flex: 1 0 calc(50% - 20px) ;
  display: flex;
  gap:20px;
}


.fas{
  background-color: $red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.mainPageNavigationContent{
  text-align: left;
}

                //      upperGalleryContainer  styles        //


.upperGalleryContainer{
  display: flex;
  background-color: $darkRed;
  flex-wrap: wrap;
}             

.upperGalleryContainer li{
  flex: 1 0 33%;
}

.upperGalleryContainer li:nth-child(2){
  text-align: left;
  align-self: center;
  margin-left: 200px;
}

.upperGalleryContainer li:nth-child(3){
  text-align: right;
}

.upperGalleryImage1{
  box-shadow: 20px 20px $orange;
  position: relative;
  bottom: 100px;
  
}

.image2Container{
  box-shadow: -20px 20px $orange;
  display:  inline-block;
  overflow: hidden;
  height: max-content;
  position: relative;
  bottom: -100px;
  margin-left: 200px
  
}

.upperGalleryImage2{
  display: block;
  box-shadow: -20px 20px solid $orange;
  max-width: 100%;
}



.eventSection{
  margin: 200px 0;
}

.eventSection h2,
.eventsSubSection h2{
  color: $orange;  
}

.eventsSubSection{
  display: flex;
  text-align: left;
  padding: 4rem;
  gap: 4rem;
}

.eventsSubSection img{
  box-shadow: -20px 20px $orange;
}




//  gallery styles //  

.gallery{
  background-color: $darkRed;
  padding: 4rem;
  width: 100vw;
}

.gallery ul{
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
}

.gallery ul li{
  flex-grow: 1;
  flex-basis: calc(33% - 40px);
}



