// media queries // 


/* Landscape phone to portrait tablet */
@media (max-width: 800px) {

  .topNavContainer ul,
  .mainPageNavigationContainer,
  .gallery ul,
  .blogPageMainContent{
      flex-direction: column;
    }

    header h2{
      font-size: 7rem;
    }
    .blogHeroContent h2{
      font-size: 9rem;
    }
  .form1{
    width: 90%;
    position: static;
  }

  aside{
    margin: 1rem;
    padding-bottom: 2rem;
  }

  .topNavContainer ul{
    position: fixed;
    top:100px;
    right:-200px;
    width: 200px;
  }
    
  .menuBtn{
    display: block;
  }
}

/* Landscape phones and down */
@media (max-width: 600px) {
  h1{
    font-size: 5rem;
  }

  header h2{
    font-size: 5rem;
  }
  .upperGalleryContainer{
    flex-direction: column;
    padding: 2rem;
  }

  .eventSubSectionContent{
    align-items: center;
  }

}