@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@400;700&family=Tulpen+One&display=swap');


$primaryFont:'Chathura', 'sans-serif';
$secondaryFont: 'Tulpen One', 'cursive';
$red: #bf2603;
$orange:#ff8327;
$black:#111010;
$darkRed:#220303;
$offWhite:#ffffff;

.wrapper{
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

body{
  font-size: 125%;
  color:$offWhite;
  font-family: $primaryFont;
  letter-spacing: 1.9px;
}

h1,h2,h3,p,ul,section{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}

.topNavContainer ul{
  display: flex;
  justify-content: center; 
  height: 100px;
  align-items: flex-end;
}

.topNavContainer ul li{
  padding: 20px 50px; 
} 

.topNavContainer a{
  color: $offWhite;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 29px;
  font-size: 1.9rem;
}
