@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@400;700&family=Tulpen+One&display=swap');


$primaryFont:'Chathura', 'sans-serif';
$secondaryFont: 'Tulpen One', 'cursive';
$red: #bf2603;
$orange:#ff8327;
$black:#111010;
$darkRed:#220303;
$offWhite:#ffffff;

.wrapper{
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

body{
  font-size: 125%;
  color:$offWhite;
  font-family: $primaryFont;
  letter-spacing: 1.9px;
  background-color: #111010;
  text-align: center;
}

h1,h2,h3,h4,p,ul,section{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}

