@import url("https://fonts.googleapis.com/css2?family=Chathura:wght@400;700&family=Tulpen+One&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

body {
  font-size: 125%;
  color: #ffffff;
  font-family: "Chathura", "sans-serif";
  letter-spacing: 1.9px;
  background-color: #111010;
  text-align: center;
}

h1, h2, h3, h4, p, ul, section {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.button {
  font-family: "Tulpen One", "cursive";
  background-color: red;
  color: white;
  padding: 10px;
  width: 8rem;
}

.contactPageHeader {
  background-image: url(../images/contact-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contactPageHeader .heroContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 50vh;
}

.lowerNavSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding: 2rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.95rem;
  gap: 2rem;
}

.lowerNavSection nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.lowerNavSection a {
  color: white;
}

p span {
  display: block;
}

.indexPageHeader {
  background-image: url(../images/home-image-1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.indexHeroContent {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indexHeroContent h1 {
  color: #ff8327;
  font-family: "Tulpen One", "cursive";
}

.indexHeroContent h1 span {
  display: block;
  font-family: "Chathura", "sans-serif";
  color: white;
  font-size: 4.16rem;
}

.headerBoxImage {
  position: absolute;
  right: 0;
  width: 50%;
  top: 340px;
  z-index: -1;
}

.mainPageNavigationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 250px 0;
}

.mainPageNavigationContainer li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 20px);
          flex: 1 0 calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.fas {
  background-color: #bf2603;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 2rem;
}

.mainPageNavigationContent {
  text-align: left;
}

.upperGalleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #220303;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 8rem;
  gap: 4rem;
}

.upperGalleryContainer h2 {
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
}

.upperGalleryContainer li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 4rem);
          flex: 0 0 calc(50% - 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  font-size: 1.9rem;
}

.upperGalleryContainer li:nth-child(2) {
  text-align: left;
}

.upperGalleryContainer li:nth-child(3) {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.upperGalleryImage1 {
  -webkit-box-shadow: 20px 20px #ff8327;
          box-shadow: 20px 20px #ff8327;
  position: relative;
  bottom: 50px;
}

.upperGalleryImage2 {
  display: block;
  -webkit-box-shadow: -20px 20px solid #ff8327;
          box-shadow: -20px 20px solid #ff8327;
  max-width: 100%;
  -webkit-box-shadow: -20px 20px #ff8327;
          box-shadow: -20px 20px #ff8327;
  position: relative;
  bottom: -50px;
}

.eventSection {
  margin-bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.9rem;
}

.eventSection h2,
.eventsSubSection h2 {
  color: #ff8327;
  font-size: 3.4rem;
}

.eventsSubSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 4rem;
  gap: 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.eventsSubSection img {
  -webkit-box-shadow: -20px 20px #ff8327;
          box-shadow: -20px 20px #ff8327;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

.eventSubSectionContent {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  font-size: 1.9rem;
}

.gallery {
  background-color: #220303;
  padding: 4rem;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: calc(33% - 4rem);
      flex-basis: calc(33% - 4rem);
}

.blogPageHeader {
  background-image: url("../images/blog-header-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blogHeroContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogHeroContent h1 {
  font-family: "Chathura", "sans-serif";
}

.blogPageMainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  font-size: 1.9rem;
}

aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  text-align: left;
  background-color: #220303;
  margin: 4rem 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

aside li {
  list-style: disc;
}

.sideBarImage {
  position: relative;
  left: -30px;
  top: -10px;
}

.sideBarContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.sideBarContent ul {
  padding-left: 4rem;
}

.blogPostImage {
  -webkit-box-shadow: -20px 20px #ff8327;
          box-shadow: -20px 20px #ff8327;
  position: relative;
  top: -10px;
}

.blogPostContent {
  border-left: 5px solid #ff8327;
  border-bottom: 5px solid #ff8327;
  position: relative;
  left: -20px;
  padding: 4rem;
  text-align: left;
}

.commentSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.commentSection ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  gap: 4rem;
  padding: 2rem;
}

.commentImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.topNavContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.topNavContainer ul li {
  padding: 20px 50px;
}

.topNavContainer a {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 29px;
  font-size: 1.9rem;
}

.topNavContainer a:hover,
.topNavContainer a:focus {
  color: #ff8327;
}

h1 {
  font-family: "Chathura", "sans-serif";
  letter-spacing: 2.4px;
  font-size: 13rem;
}

header p {
  font-family: "Tulpen One", "cursive";
  font-size: 2rem;
}

header h2 {
  font-family: "Tulpen One", "cursive";
  font-size: 10rem;
}

.menuBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 1rem;
  top: 2rem;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  display: none;
}

.menuBtnBurger {
  position: absolute;
  width: 3rem;
  height: 6px;
  background-color: white;
  border-radius: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menuBtnBurger::before,
.menuBtnBurger::after {
  content: " ";
  width: 3rem;
  height: 6px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
}

.menuBtnBurger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menuBtnBurger::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.menuBtn.open .menuBtnBurger {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  background: transparent;
}

.menuBtn.open .menuBtnBurger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menuBtn.open .menuBtnBurger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

footer {
  background-color: grey;
  min-height: 5vh;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

input {
  border: none;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(40% - 2rem);
          flex: 1 1 calc(40% - 2rem);
}

textarea {
  border: 2px solid #ffffff;
  resize: none;
  width: 100%;
  min-height: 10rem;
  color: #ffffff;
  padding: 10px;
}

Form {
  width: 80%;
  background-color: #111010;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  font-size: 1.5rem;
}

.form2 input,
.form2 textarea {
  background-color: #111010;
}

.form1 input,
.form1 textarea {
  background-color: #220303;
}

.form1 {
  width: 50%;
  -webkit-box-shadow: 10px 10px #ff8327;
          box-shadow: 10px 10px #ff8327;
  position: absolute;
  right: 4rem;
  background-color: #220303;
  bottom: 2rem;
  padding: 20px;
  color: #ffffff;
}

/* Landscape phone to portrait tablet */
@media (max-width: 800px) {
  .topNavContainer ul,
.mainPageNavigationContainer,
.gallery ul,
.blogPageMainContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  header h2 {
    font-size: 7rem;
  }

  .blogHeroContent h2 {
    font-size: 9rem;
  }

  .form1 {
    width: 90%;
    position: static;
  }

  aside {
    margin: 1rem;
    padding-bottom: 2rem;
  }

  .topNavContainer ul {
    position: fixed;
    top: 100px;
    right: -200px;
    width: 200px;
  }

  .menuBtn {
    display: block;
  }
}
/* Landscape phones and down */
@media (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }

  header h2 {
    font-size: 5rem;
  }

  .upperGalleryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }

  .eventSubSectionContent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}